	body {
/*    max-width: 1220px;*/
    margin:0 auto;
/*    margin-top: 20px;*/
padding: 0;
    overflow-x: hidden;

background-image: url(fon.jpg);
background-attachment: fixed;
background-size: cover;

   }

   .zag {
    margin: auto;
   }

   .kart img{
    text-align: center;
    width: 100vw;
   }


   .izo {
    text-align: center;
    width: 100vw;
   }

   .tett {
    box-shadow: 0px 0px 20px black;
    max-width: 900px;
    margin:0 auto;
    background-color:white;
    padding:25px;
   }

.knig{
    margin:auto;

}

.aut {
    text-align: center;
}

.sort{
    display: flex;
    justify-content:center;

}

.sort a{
flex:1 1 auto; 
}


#personal-pics{
    float: left;
    width: 900px;
    background-color: coral;
    height: 540px;        
    overflow: hidden;
    overflow-x: scroll;    
    white-space:nowrap;
}
.round{
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    width: 900px;
    height:540px;
    background: red;
}


/* Стили для кнопки */
#scroll-to-top {
  display: none; /* Кнопка будет скрыта до тех пор, пока пользователь не прокрутит страницу */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* Стиль для кнопки при наведении */
#scroll-to-top:hover {
  background-color: #198754;
}



* {
  box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Hide the images by default */

.mySlides {
  display: none;
}


/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}


/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}


